.features {    
    grid-column: center-start/center-end;
    margin: 15rem 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr); //with dz, d columns can scatters as u squeeze
    //grid-template-columns: repeat(auto-fit, minmax(25rem 1fr)); //dz mks d grid responsive
    grid-gap: 6rem;
    align-items: start;
}

.feature {
    display: grid;
    grid-template-columns: min-content 1fr;  // it will automatically define rows
    grid-row-gap: 1.5rem;
    grid-column-gap: 2.5rem;


    &__icon{
        fill: $primary;
        width: 4.5rem;
        height: 4.5rem;
        grid-row: 1/span 2;  // we could hv used 1/-1 if we had defined d "grid-template-row" in feature(d parent)
        transform: translateY(-1rem);   //ehee, -1 works only in EXPLICIT columns or rows
    }
    &__text{
        font-size: 1.7rem;
    }
}